/target
/web/target
/web/dist
/vendor/gpui_ce_web/.cargo-ok
/vendor/gpui_ce_web/.cargo_vcs_info.json
/vendor/gpui_ce_web/Cargo.lock
/vendor/gpui_ce_web/Cargo.toml.orig
/vendor/gpui_ce_components_assets/.cargo-ok
/vendor/gpui_ce_components_assets/.cargo_vcs_info.json
/vendor/gpui_ce_components_assets/Cargo.lock
/vendor/gpui_ce_components_assets/Cargo.toml.orig
/vendor/gpui_ce_wgpu/.cargo-ok
/vendor/gpui_ce_wgpu/.cargo_vcs_info.json
/vendor/gpui_ce_wgpu/Cargo.lock
/vendor/gpui_ce_wgpu/Cargo.toml.orig
/.devenv
/.devenv.flake.nix
/.direnv
/result
/vendor/gpui-component/.cargo-ok
/vendor/gpui-component/.cargo_vcs_info.json
/vendor/gpui-component/Cargo.lock
